/* Astrix code*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
    background-color: #EEDD62;
    color: #654321;
    font-family: "Roboto", Lato;


}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;

}

/* Position the form in center */
form,
header {
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Field input to add a new list item*/
#addcontainer {

    display: flex;
    align-items: center;
    position: relative;


}

.additem,
select {
    background-color: #654321;
    color: #EEDD62;
    width: 150px;
    border-radius: 15px;
    border:2px solid #654321;
    padding: 10px;
    outline: none;


}


button {

    background-color: #EEDD62;
    color: #654321;
    border: none;
    padding: 7px;
    font-size: 30px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #654321;
    border-radius: 10px;
    color: #EEDD62;
    outline: none;
}


/* This changes the placeholder font*/
::placeholder {
    color: #EEDD62;
}


/* Target the out div element*/
.listdiv {
    min-width: 40%;
    margin: 1rem;
    background-color: #654321;
    display: flex;
    border-radius: 15px;
    border:2px solid #654321;
    justify-content: center;
    align-items: center;
    
}

/* Target ul */
.listblocks {
    list-style: none;
   
          
}
/* Target li*/
.new-item {
    color: #EEDD62;
    margin: 1rem;
    
            
}

.done, .delet {
    border: none;
}


@media screen and (max-width: 768px) {

    #addcontainer {
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
       padding: 20px;
    }

    .filter {
       order: 1;
       
    }

    .additem {
        order: 2;
    }
    
    button {
        order: 3;
    }
}

