/* Astrix code*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #EEDD62 ;
    color: #654321;
    font-family:"Roboto", Lato;
    
        
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    
}

form, header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Field inpput to add a new list item*/
#add-container {

display: flex;
justify-content: space-between;
padding: 5px;
background-color: #654321;
color: #EEDD62 ;


}

button {

    background-color: #EEDD62;
    color: #654321;
    border: none;
    padding: 3px;
    font-size: 20px;

}

input [type-text] {
    background-color: #EEDD62;
    color: #654321;
}
