/* Astrix code*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100%;
    background-color: #EEDD62;
    color: #654321;
    font-family: "Roboto", Lato;
    
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;

}
/* Position the form in center */
form,
header {
    position: relative;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Field input to add a new list item*/
#addcontainer {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.additem {

    background-color: #654321;
    color: #EEDD62;
    width: 150px;
    border-radius: 15px;
    border: 2px solid #654321;
    padding: 10px;
    outline: none;
    display: flex;

}

/*The button with in html to add the list task to the js div */
button {

    background-color: #EEDD62;
    color: #654321;
    border: none;
    padding: 7px;
    font-size: 30px;
    outline: none;
    cursor: pointer;
} 

button:hover {

    background-color: #654321;
    border-radius: 10px;
    color: #EEDD62;
    outline: none;
}

/* This changes the placeholder font*/
::placeholder {

    color: #EEDD62;
}

/* Target the outer div element created in JS*/
.outdivcontainer {

    display: flex;
    justify-content: center;
    align-content: center;
}

/*Target the div that JS creates */
.listdiv {

    margin: 1rem;
    background: #654321;
    border-radius: 15px;
    border: 5px solid #654321;
    display: flex;
    justify-content: space-between;

}

.listdiv li {

    flex: 1;
}

/* Target ul in CSS */
.listblocks {

    min-width: 30%;
    list-style: none;

}

/* Target li in JS*/
.new-item {

    color: #EEDD62;
    margin: 1rem;

}

/*Style the buttons inside the js div*/
.done,
.delet {

    border: none;
    background-color: #654321;
    color: #EEDD62;
    outline: none;
 
}

.done,
.delet:hover {

    background-color: #EEDD62;
    border-radius: 10px;
    color: #654321;
    outline: none;
   
}

@media screen and (max-width: 768px) {

    #addcontainer {

        font-size: 5px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .filter {

        order: 1;
    }

    .additem {

        order: 2;
    }

    button {

        order: 3;
    }
}

